@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="ui container">
    <h3 class="ui header center aligned">@ViewData["Title"]</h3>
    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="ui segment">
        <form id="change-password-form" method="post" class="ui form">
            <div asp-validation-summary="ModelOnly" class="ui message negative" role="alert"></div>
            
            <div class="field">
                <label asp-for="Input.OldPassword">Old Password</label>
                <input asp-for="Input.OldPassword" type="password" autocomplete="current-password" placeholder="Please enter your old password.">
                <span asp-validation-for="Input.OldPassword" class="ui pointing red basic label"></span>
            </div>

            <div class="field">
                <label asp-for="Input.NewPassword">New Password</label>
                <input asp-for="Input.NewPassword" type="password" autocomplete="new-password" placeholder="Please enter your new password.">
                <span asp-validation-for="Input.NewPassword" class="ui pointing red basic label"></span>
            </div>

            <div class="field">
                <label asp-for="Input.ConfirmPassword">Confirm New Password</label>
                <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" placeholder="Please confirm your new password.">
                <span asp-validation-for="Input.ConfirmPassword" class="ui pointing red basic label"></span>
            </div>

            <button type="submit" class="ui button primary fluid">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
