@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="ui container">
    <h3 class="ui header center aligned">@ViewData["Title"]</h3>

    <div class="ui warning message">
        <div class="header">
            <strong>Warning</strong>
        </div>
        <p>Deleting this data will permanently remove your account, and this cannot be recovered.</p>
    </div>

    <form id="delete-user" method="post" class="ui form">
        <div asp-validation-summary="ModelOnly" class="ui error message" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="field">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" type="password" autocomplete="current-password" placeholder="Please enter your password.">
                <span asp-validation-for="Input.Password" class="ui pointing red basic label"></span>
            </div>
        }
        <button class="ui fluid large red button" type="submit">Delete data and close my account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
