<div class="ui grid">
    <div class="eight wide column">
        <h2 class="ui header">Drafts</h2>
        <div id="draftsList" class="ui cards"></div>
    </div>
    <div class="eight wide column">
        <h2 class="ui header">Published</h2>
        <div id="publishedList" class="ui cards"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/manageAnnouncement.js"></script>
}
