@* Views/Shared/_OptInConfirmation.cshtml *@

<div class="opt-in-confirmation">
    <label>Receive Announcements:</label>
    <select id="optInConfirmation" class="form-control">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <button id="saveOptInConfirmation" class="btn btn-primary">Save</button>
</div>
