<div id="announcementsList2" class="ui stackable cards">
    <!-- Announcements will be loaded here by userAnnouncementForm.js -->
</div>

@section Scripts {
    <script src="~/js/userAnnouncementForm.js"></script>
}
