@* Views/Home/Announcement.cshtml *@

@{
    ViewData["Title"] = "Admin Announcements";
}

<body class="announcement-background">
<h1 class="title-styling">Admin Announcements</h1>
    <div class="ui container center aligned">
        <div class="announcement-container">

            <div class="section-gap"></div>


            <div class="section-gap"></div>

            <a href="@Url.Action("AnnouncementCreate", "Home")" class="ui button primary">Create an Admin Post</a>

            <div class="section-gap"></div>
            
            <section>
                @await Html.PartialAsync("~/Views/Announcements/_AnnouncementsPartial.cshtml")
            </section>
            
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/announcementForm.js"></script> 
}

