@* Views/Home/AnnouncementCreate.cshtml *@

@{
    ViewData["Title"] = "Create an Admin Announcement";
}
<head>

<link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="announcement-background">
<div class="section-gap"></div>
    <div class="ui container">
        <h1 class="title-styling">Create an Admin Announcement
            
            <button id="myBtn">i</button>
        </h1>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Welcome to the admin announcements page, where you can create an announcement and publish it right away as an admin announcement!</p>
            </div>
        </div>

        <section class="section-gap">
            <partial name="~/Views/Announcements/_CreateAnnouncementPartial.cshtml" />
        </section>

        @* <a href="@Url.Action("Announcement", "Home")" class="ui button secondary">Return to Announcement Page</a> *@
    </div>
</body>
@section Scripts {
    <script src="~/js/announcementCreateForm.js" defer></script>
<script src="~/js/modalswitcher.js" defer></script>
}