@{
    ViewData["Title"] = "Announcements and Notifications";
}
<body class="announcement-background">
<div class="section-gap"></div>
<div class="announcement-background">
    <div class="ui container">
        <h2 class="title-styling">@ViewData["Title"]</h2>

        <div class="section-gap"></div>

        <a href="@Url.Action("AnnouncementCreate", "Home")" class="ui button primary">Create a New Announcement</a>

        <div class="section-gap"></div>

        <section>
            @await Html.PartialAsync("~/Views/Announcements/_AnnouncementsPartial.cshtml")
        </section>
    </div>
</div>
</body>
@section Scripts {
    <script src="~/js/announcementForm.js"></script> 
}
