<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .friend-request {
            background-color: #f2f2f2;
            padding: 10px;
            margin-bottom: 10px;
        }

        .friend {
            background-color: #e6e6e6;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="announcement-background">
    <h1 >Welcome to your friends page!</h1>
    <div class="container ui very padded segment">
        <h1>Friend Requests</h1>
        <div id="FriendRequest" class="friend-request">

        </div>


        <h1>Friends</h1>
        <div id="Friends" class="friend ui very padded segment">

        </div>

    </div>
    <script src="~/js/FriendRequest.js"></script>
</body>
</html>
