@{
    ViewData["Title"] = "Home Page";
}
<body class="announcement-background">
    <div class="section-gap"></div>
<div class="announcement-background">
    <div class="ui container">
        <h1 class="title-styling">BitBracket</h1>
        <p class="text-styling"> Welcome to BitBracket, your ultimate platform for organizing and participating in tournaments.</p>
    </div>
</div>
</body>