@* Home/About.cshtml *@

@{
    ViewData["Title"] = "About";
}

<div class="section-gap"></div>
<div class="section-gap"></div>
<body class="announcement-background">
    <h1 class="ui center aligned header title-styling">About BitBracket</h1>
    <p class="text-styling">
        BitBracket is a comprehensive platform designed to enhance your tournament experience. Offering a wide range of features from live updates to in-depth analysis, BitBracket ensures fans, players, and organizers have everything they need at their fingertips.
    </p>

    <div class="ui section divider"></div>

    <h2 class="ui center aligned header title-styling">
        <i class="pencil alternate icon"></i>Credits
    </h2>
    <p class="text-styling">
        BitBracket was developed as part of the Senior Capstone course at Western Oregon University, encompassing CS 460, CS 461, and CS 462 Software Engineering I, II, and III.
    </p>
    <div class="ui three stackable cards">
        <div class="card">
            <div class="ui vertical animated button" style="width: 100%;">
                <div class="hidden content">GitHub Owner / Developer</div>
                <div class="visible content">Will Ollenbrook</div>
            </div>
        </div>
        <div class="card">
            <div class="ui vertical animated button" style="width: 100%;">
                <div class="hidden content">GitHub Collaborator / Developer</div>
                <div class="visible content">Mohammed Alsalem</div>
            </div>
        </div>
        <div class="card">
            <div class="ui vertical animated button" style="width: 100%;">
                <div class="hidden content">GitHub Collaborator / Developer</div>
                <div class="visible content">Miguel Medina Ortiz</div>
            </div>
        </div>
    </div>
    <div class="ui section divider"></div>
        <p class="text-styling">
            Learn more by visiting our <a href="https://github.com/wollenbrook/BitBenders" class="ui teal">GitHub Repository</a>.
        </p>
</body>
