<!DOCTYPE html>
@{

    ViewData["Title"] = "Welcome to your Profile Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome, @User.Identity.Name</h1>
    <p>We hope that we can provide you a wonderful service.</p>
    <p>@ViewBag.Message</p>
    <body class="bodyprofile">

        <div class="container">
            <h1>User Profile</h1>
            <div class="profile-info">
                <div>
                    <label for="username">Username:</label>
                    <p id="username">@ViewBag.Name</p>
                </div>

                <div>
                    <label for="email">Email:</label>
                    <p id="email">@ViewBag.Email</p>
                </div>
            </div>
        </div>

    </body>
}
else
{
    <h1>Welcome, in order to make the most of your experience please register and/or login</h1>

}

