<!DOCTYPE html>
@{
    ViewData["Title"] = "Welcome to your Profile Page";
}

<body class="announcement-background">
    <div class="section-gap"></div>
    <div class="ui container">
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="title-styling">Welcome, @User.Identity.Name</h1>
            <p class="text-styling">Thank you for choosing BitBracket. We hope to provide a great experience.</p>
            
            <div class="ui raised segment">
                <h2 class="column center aligned">User Profile</h2>
                <div class="ui list">
                    <div class="item">
                        <div class="content">
                            <div class="header">Username</div>
                            <div>@ViewBag.Name</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Email</div>
                            <div>@ViewBag.Email</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="header">Tag</div>
                            <div>@ViewBag.Tag</div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1 class="ui header center aligned">Welcome, in order to make the most of your experience please register and/or login</h1>
        }
    </div>
</body>
