@{
}

<body class="announcement-background">
    <div class="section-gap"></div>
    <div class="section-gap"></div>
    <div class="search-bar" style="text-align: center;">
        <input type="text" class="search-input" style="font-size: 30px; width: 500px;" placeholder="Search...">
        <button id="searchSpecificButtonId" class="ui small primary button" style="font-size: 24px;">Search</button>
        <button id="searchAllButtonId" class="ui small primary button" style="font-size: 14px;">Search All</button>
    </div>
    <div class="section-gap"></div>
    <div id="bitUsersContainer">

    </div>
</body>
<script src="~/js/search.js"></script>