@{
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body class="announcement-background">
    <h1 class="title-styling">Search
        <button id="myBtn">i</button>
    </h1>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Welcome to the search page, where you can search for users and tournaments!</p>
        </div>
    </div>
    <div class="section-gap"></div>
    <div class="section-gap"></div>
    <div class="search-bar" style="text-align: center;">
        <input id="searchInputId" type="text" class="search-input" style="font-size: 30px; width: 400px;" placeholder="Search...">
        <select id="statusDropdownId" class="ui dropdown" style="font-size: 24px; width: 100px">
            <option value="" selected disabled>Select a filter option</option>
            <option value="Any">Any</option>
            <option value="Users">Users</option>
            <option value="Tournaments">Tournaments</option>
        </select>
        <button id="searchButtonId" class="ui small primary button" style="font-size: 24px;">Search</button>
        <button id="searchAllButtonId" class="ui small primary button" style="font-size: 24px;">Search All</button>

    </div>
    <div class="section-gap"></div>
    <div id="bitUsersContainer">

    </div>
</body>
<script src="~/js/search.js"></script>
<script src="~/js/modalswitcher.js"></script>