@using BitBracket.ViewModels
@model UserViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="announcement-background">
    <h1 id="name">@Model.Username</h1>
    <h1>Your Placements</h1>
    <div class="ui very padded segment">
        <div class="ui divided items">
            <div class="item">
                <div class="content" id="content">

                    

                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Standings.js"></script>

</body>