@{
    ViewData["Title"] = "Speech to Text Test";
}

<h2>@ViewData["Title"]</h2>

<div>
    @Html.Partial("_SpeechToTextPartial")
</div>

@section Scripts {
    <script src="~/js/speechToText.js"></script>
}
