@using BitBracket.ViewModels
@model TournamentViewModel
<!DOCTYPE html>
<html lang="en">
<body class="announcement-background">
    <div class="ui container">
        <h1 class="title-styling">Welcome to @Model.Name's tournament!</h1>
        <p>Owner: @Model.Owner</p>
        <p>located at: @Model.Location</p>
        <p>Status: @Model.Status</p>

    </div>
</body>