@* Located at Views/Home/UserAnnouncementForm.cshtml *@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "My Announcements";
}

<h2>@ViewData["Title"]</h2>

<div class="section-gap"></div>

<a href="@Url.Action("UserAnnouncementCreate", "Home")" class="ui button primary">Create User Announcement</a>

<div class="section-gap"></div>

@Html.Partial("~/Views/Announcements/_UserAnnouncementForm.cshtml")
@Html.Partial("~/Views/Announcements/_OptInConfirmation.cshtml")

@section Scripts {
    <script src="~/js/userAnnouncementForm.js"></script>
}
