@* Views/Home/WhisperTest.cshtml *@

@{
    ViewData["Title"] = "Whisper Test";
}
<h1>Whisper Test</h1>
<input type="text" id="audioInput" placeholder="Speak something..." class="ui input" />
<button id="recordBtn" class="ui icon button"><i class="microphone icon"></i></button>
<button id="stopBtn" class="ui icon button" disabled><i class="microphone slash icon"></i></button>
<button id="clearBtn" class="ui icon button"><i class="undo icon"></i></button>
<script src="~/js/whisper.js"></script>




