@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmed Registration";
}
<body class = "announcement-background">
<h1 class="title-styling">@ViewData["Title"]</h1>
<p class="text-center title-styling">Thank you for registering! Feel free to checkout your profile page.</p>
</body>