@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Your Password?";
}

<body class="announcement-background">
    <div class="ui container center aligned" style="padding-top: 50px; padding-bottom: 50px;">
        <h1 class="title-styling">@ViewData["Title"]</h1>
        <h2 class="ui header">Enter your email to reset your password</h2>
        <div class="ui very padded segment">
            <form method="post" class="ui large form">
                <div class="ui segment">
                    <div asp-validation-summary="ModelOnly" class="ui message negative" role="alert"></div>
                    <div class="field">
                        <label>Email</label>
                        <input asp-for="Input.Email" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="ui pointing red basic label"></span>
                    </div>
                    <button type="submit" class="ui fluid large teal submit button">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
