html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* CustomStyles.css or within a <style> tag */
.container {
  max-width: 800px; /* Adjust based on your preference */
}

.card-header {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
}

.btn-primary {
  background-color: #0056b3; /* Slightly darker primary color for the button */
  border: none;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}
.bodyprofile {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.user {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.user h3 {
        margin: 0;
}

.user p {
    margin: 0;
}
.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    position: relative;
}

.user-card:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
h1 {
    text-align: center;
    color: #333;
}

.profile-info {
    margin-top: 20px;
}

.profile-info div {
    margin-bottom: 10px;
}

.profile-info label {
    font-weight: bold;
}

.profile-info p {
    margin: 0;
}

.section-gap {
  margin-bottom: 20px;
}

.announcement-background {
  background: linear-gradient(to right, #7f9a8d, #00535f);
  min-height: 100vh;
  width: 100%;
}

.text-styling {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  font-weight: bold; /* Make the font bolder */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */
}

.navbar-background {
  background-color: #f8d291 !important;
}

.title-styling {
  font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;
  color: #f4886d; /* Primary color for text */
  font-weight: bold; /* Makes the text bold */
  text-shadow: 
    -1px -1px 0 #f8d291,  
     1px -1px 0 #f8d291,
    -1px  1px 0 #f8d291,
     1px  1px 0 #f8d291; /* Secondary color as text shadow for stroke effect */
  font-size: 70px; /* Adjust size as needed */
  text-align: center; /* Center alignment - adjust as needed */
}

.announcement-container {
  max-width: 900px; /* Adjust the width as needed */
  margin: auto; /* This centers the container */
}
