html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* CustomStyles.css or within a <style> tag */
.container {
  max-width: 800px; /* Adjust based on your preference */
}

.card-header {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
}

.btn-primary {
  background-color: #0056b3; /* Slightly darker primary color for the button */
  border: none;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}
