html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* CustomStyles.css or within a <style> tag */
.container {
  max-width: 800px; /* Adjust based on your preference */
}

.card-header {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
}

.btn-primary {
  background-color: #0056b3; /* Slightly darker primary color for the button */
  border: none;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}
.bodyprofile {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h1 {
    text-align: center;
    color: #333;
}

.profile-info {
    margin-top: 20px;
}

.profile-info div {
    margin-bottom: 10px;
}

.profile-info label {
    font-weight: bold;
}

.profile-info p {
    margin: 0;
}

.section-gap {
  margin-bottom: 20px;
}

:root {
  /* Define light theme colors */
  --background-color-light: #7f9a8d, #00535f;
  --text-color-light: white;
  --navbar-background-light: #f8d291;
  --title-color-light: #f4886d;
  --icon-color-light: #f4886d;
  --medium-text-light: #323232;
  --small-text-light: #777;
  --navbar-text-light: #000;

  /* Define dark theme colors */
  --background-color-dark: #131c6a, #712e5c; 
  --text-color-dark: #b6aabb; 
  --navbar-background-dark: #2e1467; 
  --title-color-dark: #79268c; 
  --icon-color-dark: #89CFF0;
  --medium-text-dark: #CCCCCC;
  --small-text-dark: #AAAAAA;
  --navbar-text-dark: #fff;
}

body.light-theme {
  /* Apply light theme colors to corresponding CSS variables */
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --navbar-background: var(--navbar-background-light);
  --title-color: var(--title-color-light);
  --icon-color: var(--icon-color-light);
  --medium-text: var(--medium-text-light);
  --small-text: var(--small-text-light);
  --navbar-text-color: var(--navbar-text-light);
}

body.dark-theme {
  /* Apply dark theme colors to corresponding CSS variables */
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --navbar-background: var(--navbar-background-dark);
  --title-color: var(--title-color-dark);
  --icon-color: var(--icon-color-dark);
  --medium-text: var(--medium-text-dark);
  --small-text: var(--small-text-dark);
  --navbar-text-color: var(--navbar-text-dark);
}

.announcement-background {
  /* Set the background gradient using the theme's background color */
  background: linear-gradient(to right, var(--background-color));
}

.text-styling, .navbar-background, .title-styling {
  /* Common text styling for multiple elements */
  color: var(--text-color);
  font-size: 16px;
  text-align: center;
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.navbar-background {
  /* Set the background color for the navbar */
  background-color: var(--navbar-background) !important;
}

.navbar-text {
  /* Set the text color for the navbar */
  color: var(--navbar-text-color) !important;
}

.title-styling {
  /* Specific styling for titles */
  font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif;
  color: var(--title-color);
  font-weight: bold; 
  font-size: 70px; 
  text-align: center; 
}

.icon-color i {
  /* Set the color for icons */
  color: var(--icon-color);
}

.medium-text {
  /* Set the color for medium-sized text */
  color: var(--medium-text);
}

.small-text {
  /* Set the color for small-sized text */
  color: var(--small-text);
}


.announcement-container {
  max-width: 900px; 
  margin: auto; 
}

