@using BitBracket.ViewModels;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket Display</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style>
        .ui.image.label {
            margin: 5px;
        }
        .avatar {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 8px;
            vertical-align: middle;
        }
        .team .name {
            font-size: 0.7em;  /* Adjusted font size for player names */
        }
    </style>
</head>
<body class="announcement-background">
    <div id="TournyId" style="visibility: hidden;">@Model.TournamentId</div>

    <div class="container-fluid" style="margin-top: 20px;">
        <div id="minimal" class="row">
            <div class="col demo">
                <h2 id="bracketName"></h2>
                <p id="bracketStatus"></p>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 20px;">
        <div id="minimal" class="row">
            <div class="col demo"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bracket/0.11.1/jquery.bracket.min.js"></script>
    <script src="~/js/bracketpage.js"></script>
</body>
</html>
