<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket View</title>
</head>
<body class="announcement-background">
    <div class="container-fluid" style="margin-top: 20px;">
    <div id="minimal" class="row">
        <div>
            <h2 id="bracketName"></h2>
            <p id="bracketStatus"></p>
        </div>
    </div>
</div>

    <div class="container-fluid" style="margin-top: 20px;">
    <div id="minimal" class="row">
        <div class="col demo"></div>
    </div>

</body>
</html>

 <script src="~/js/bracketdisplay.js"></script>