@using BitBracket.ViewModels
@model BasicBracketViewModel
@{
    ViewData["Title"] = "Create Bracket";
}
<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competition Bracket</title>
</head>
<body class="announcement-background">
    <h2 class="title-styling">@ViewData["Title"]</h2>
    <div class="container mt-4">
        
                <form id="createBracketForm" method="post" class="ui form" style="padding: 20px; background-color: #93a86d; border-radius: 10px;">
                    <div class="mb-3">
                        <label for="Names" class="form-label ui field">Player Names (comma-delimited):</label>
                        <textarea input asp-for="Names" type="text" class="form-control" id="Names" placeholder="Enter Player Names: e.g Player1, Player2" required></textarea>
                        <span asp-validation-for="Names" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="Format" class="form-label ui field">Format:</label>
                        <select id="Format" name="Format" class="form-control">
                            <option value="Single Elimination">Single Elimination</option>
                            <option value="Double Elimination">Double Elimination</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>
                        <input type="checkbox" id="RandomSeeding" name="RandomSeeding" value="true" checked="@Model.RandomSeeding" /> Random Seeding (Seeding will be done in entered order otherwise)</label>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Generate Bracket</button>
                    </div>
                </form>
         
    </div>
    <div class="d-grid gap-2">
        <button id="generateButton" type="button" class="btn btn-primary">
            Generate Bracket Link
            <i class="clipboard icon"></i>
        </button>     
    </div>
    <div id="minimal" class="row">
        <div class="col demo"></div>
    </div>

</div>
</body>
</html>


<script src="~/js/bracket.js"></script> 